body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

.form {
    text-align: center;
    padding: 10px;
    height: auto;
    width: auto;
}

.heading {
    text-align: center;
    padding: 10px;
    height: auto;
    width: auto;
}

.table {
    padding: 10px;
    height: auto;
    width: 100%;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

div {
    width: 100%;
    height: 10px;
}