<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Temperature Blanket</title>
    </head>
    <body>
        <div class="form"> 
            <form action="/" method="post">
                <input name="city" type="text" placeholder="City">
                <input name="year" type="text" placeholder="Year (YYYY)">
                <input type="submit">
            </form>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Temperature Range (&#176;C)</th>
                    <th>Color</th>
                </tr>
                <tr>
                    <td><-20</td>
                    <td class="purple"></td>
                </tr>
                <tr>
                    <td>-20 - -10</td>
                    <td class="dblue"></td>
                </tr>
                <tr>
                    <td>-10 - 0</td>
                    <td class="blue"></td>
                </tr>
                <tr>
                    <td>0 - 5</td>
                    <td class="lblue"></td>
                </tr>
                <tr>
                    <td>5 - 10</td>
                    <td class="pblue"></td>
                </tr>
                <tr>
                    <td>10 - 15</td>
                    <td class="pyellow"></td>
                </tr>
                <tr>
                    <td>15 - 20</td>
                    <td class="yellow"></td>
                </tr>
                <tr>
                    <td>20 - 25</td>
                    <td class="orange"></td>
                </tr>
                <tr>
                    <td>25 - 30</td>
                    <td class="pink"></td>
                </tr>
                <tr>
                    <td>30 - 40</td>
                    <td class="red"></td>
                </tr>
                <tr>
                    <td>>40</td>
                    <td class="dred"></td>
                </tr>
            </table>
        </div>
        {% if error %}
            <div class="heading">{{ error }}</div>
        {% endif %}
        <div class="heading">
            <p><h3>{{ addy }}</h3></p>
            <p>{{ year }}</p>
        </div>
        {% for i in temps %}
            {% if i < -20 %}
                <div class="purple"></div>
            {% elif i >= -20 and i < -10 %}
                <div class="dblue"></div>
            {% elif i >= -10 and i < 0 %}
                <div class="blue"></div>
            {% elif i >= 0 and i < 5 %}
                <div class="lblue"></div>
            {% elif i >= 5 and i < 10 %}
                <div class="pblue"></div>
            {% elif i >= 10 and i < 15 %}
                <div class="pyellow"></div>
            {% elif i >= 15 and i < 20 %}
                <div class="yellow"></div>
            {% elif i >= 20 and i < 25 %}
                <div class="orange"></div>
            {% elif i >= 25 and i < 30 %}
                <div class="pink"></div>
            {% elif i >= 30 and i < 40 %}
                <div class="red"></div>
            {% else %}
                <div class="dred"></div>
            {% endif %}
        {% endfor %}
        <script>
            console.log(document.styleSheets)
        </script>
    </body>
</html>