<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Temperature Blanket</title>
    </head>
    <body>
        {% if data['days'][0] %}
            {% for i in data['days'] %}
                {% if i['temp'] < -20 %}
                    <div class="purple"></div>
                {% elif i['temp'] >= -20 and i['temp'] < -10 %}
                    <div class="dblue"></div>
                {% elif i['temp'] >= -10 and i['temp'] < 0 %}
                    <div class="blue"></div>
                {% elif i['temp'] >= 0 and i['temp'] < 5 %}
                    <div class="lblue"></div>
                {% elif i['temp'] >= 5 and i['temp'] < 10 %}
                    <div class="pblue"></div>
                {% elif i['temp'] >= 10 and i['temp'] < 15 %}
                    <div class="pyellow"></div>
                {% elif i['temp'] >= 15 and i['temp'] < 20 %}
                    <div class="yellow"></div>
                {% elif i['temp'] >= 20 and i['temp'] < 25 %}
                    <div class="orange"></div>
                {% elif i['temp'] >= 25 and i['temp'] < 30 %}
                    <div class="pink"></div>
                {% elif i['temp'] >= 30 and i['temp'] < 40 %}
                    <div class="red"></div>
                {% else %}
                    <div class="dred"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <section style="padding: 10px;">{{ data }}</section>
        {% endif %}
    </body>
</html>